:root {
    /* font-sizes */
    --small-font-size: 0.75rem;
    --normal-font-size: 1rem;
    --medium-font-size: 1.25rem;
    --big-font-size: 1.25rem;

    /* colors */
    --primary-color: #000000;   
    --secondary-color: #fff;
}